{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center">
          <img src="{{ image_file }}" class="img-fluid profile-dym" alt="" />
          <div class="ps-3">
            <h1 class="pb-2">{{ current_user.username }}</h1>
            <h4 class="pt-2">{{ current_user.email }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card my-5">
      <div class="card-body">
        <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control my-2" placeholder="Name" />
          </div>
          <div class="col">
            <input type="email" class="form-control my-2" placeholder="Email" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="password"
              class="form-control my-2"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="d-grid col-8 mx-auto">
          <button class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
